.item-list {
    position: fixed;
    left: 20vw;
    width: 80vw;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center; 
    padding: 0 70px;
    text-align: center;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.item:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.item-image {
    max-width: 30vw;
    max-height: 30vw;
    margin: 10px 0;
    border-radius: 20%;
}

.item-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: 'Roboto Condensed';
}

.item-error {
    display: flex;
    justify-content: center;    
    height: 60vh;
    align-items: center;
    font-size: 100px;
}

.item-is-available {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(75, 255, 15);
    border-radius: 7px;
    margin: 10px;
    padding: 10px 30px;
}

.item-not-available {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(212, 8, 8);
    border-radius: 7px;
    margin: 10px;
    padding: 10px 30px;
}

.item-price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(12, 89, 196);
    margin: 10px;
    padding: 10px 30px;
    border-radius: 7px;
}

.item-old-price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: line-through;
    background-color: rgb(197, 197, 197);
    margin: 10px;
    padding: 10px 30px;
    border-radius: 7px;
}

.item-discount-price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 208, 0);
    margin: 10px;
    padding: 10px 30px;
    border-radius: 7px;
}

.item-name {
    font-size: 30px;
    font-weight: bold;
}

.item-quantity {
    font-size: 20px;
    margin: 10px;
}

.item-info div {
    padding: 5px 30px;
}

.filter {
    position: fixed;
    display: flex;
    height: 90vh;
    width: 20vw;
    padding: 20px 0;
    border-right: 1px solid gray;
}

.pages {
    display: none;
}

.filter-arrow {
    display: none;
}

.filter-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.filter-form div {
    padding-bottom: 30px;
}

.filter-form-input {
    padding: 5px;
    background-color: rgb(230, 230, 230);
    outline: none;
    appearance: none;
    border: none;
    border-radius: 5px;
    margin: 7px;
}

.filter-form-radio {
    margin: 7px;
}

.filter-form-number {
    max-width: 20%;
}

.filter-form-submit {
    background-color: rgb(12, 89, 196);
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 25px;
    min-width: 70%;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.submit-button:hover {
    cursor: pointer;
}

.item-details {
    margin: 30px 80px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    min-width: 80vw;
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
}

.item-details-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vh;
    height: 70vh;
    margin: 0 20px;
}

.item-details-description {
    font-size: 20px;
}

.item-details-image {
    width: 20vw;
    height: 20vw;
    border-radius: 20%;
    text-align: center;
}

.item-details-images {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    margin: 0 30px;
}

.item-details-big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.small-details-small-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-wrap: wrap;
}

.item-details-small-image {
    margin: 20px 10px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
}

.item-details-small-image:hover {
    opacity: 0.5;
}

.item-details-name {
    font-weight: bold;
    font-size: 40px;
}

.item-details-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quantity-data {
    display: flex;
}

.quantity-input {
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.quantity-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.add-to-cart {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(75, 255, 15);
    border-radius: 7px;
    outline: none;
    width: 40%;
    border: none;
    cursor: pointer;
}

.add-to-cart-unavailable {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(212, 8, 8);
    border-radius: 7px;
    width: 40%;
    height: 34px;
}

.quantity-fail {
    color:rgb(212, 8, 8);
    font-size: 20px;
    text-align: center;
}

.quantity-success {
    color: green;
    font-size: 20px;
    text-align: center;
}

.item-details-line {
    background-color: rgb(200, 200, 200);
    width: 1px;
    height: 70vh;
}

.item-price-container {
    display: flex;
}

@media only screen and (max-width: 1000px) {

    .not-displayed {
        display: none !important;
    }

    .filter {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 10vh;
        border-right: none;
        width: 100%;
        background-color: white;
    }

    .filter-form {
        width: 70%;
        height: auto;
    }

    .filter-arrow {
        display: block;
        position: fixed;
        top: 10vh;
        height: 90vh;
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .pages {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: -2px;
        background-color: white;
        border-top: 1px solid black;
    }

    .item-list {
        position: static;
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }

    .item-error {
        font-size: 50px;
    }

    .item {
        padding: 0 15px;
    }

    .item-name {
        font-size: 25px;
    }

    .item-price, .item-is-available, .item-not-available, .item-old-price, .item-discount-price {
        font-size: 15px;
        padding: 5px 10px;
        margin: 5px;
    }

    .item-price-container {
        flex-direction: column;
    }

    .item-details {
        display: flex;
        margin: 30px;
        padding: 10px 20px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 60vw;
        background-color: rgb(230, 230, 230);
        border-radius: 30px;
    }

    .item-details-image {
        width: 50vw;
        height: 50vw;
        border-radius: 20%;
        text-align: center;
    }

    .item-details-images {
        margin: 10px 0;
    }

    .item-details-name {
        font-weight: bold;
        font-size: 30px;
    }
    
    .item-details-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-height: 60vh;
    }

    .item-details-bottom {
        display: flex;
        flex-direction: column;
    }

    .add-to-cart, .add-to-cart-unavailable {
        width: 100%;
        margin: 10px 0;
    }

    .quantity-success, .quantity-fail {
        font-size: 15px;
    }
}