@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

.page {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 10vh;
    align-items: center;
    background-color: rgb(12, 89, 196);
    color: white;
    font-size: 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-item {
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

a:active {
    text-decoration: none;
    color: white;   
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.item {
    display: flex;
    align-items: center; 
    padding: 0 70px;
    text-align: center;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.item:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.item img {
    width: 180px;
    height: 180px;
    margin: 10px 0;
    border-radius: 20%;
}

.item-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.item-name {
    font-size: 30px;
    font-weight: bold;
}

.item-info div {
    padding: 5px 30px;
}

.item-price {
    color: white;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(12, 89, 196);
    padding: 10px;
    border-radius: 7px;
}

.filter {
    display: flex;
    height: 90vh;
    background-color: rgb(200, 200, 200);
    max-width: 20%;
}

.filter-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.filter-form div {
    padding-bottom: 30px;
}

.filter-form input {
    padding: 5px;
}

.filter-form input[type="text"], .filter-form input[type="number"] {
    outline: none;
    appearance: none;
    border: none;
    border-radius: 5px;
    margin: 7px;
}

.filter-form input[type="radio"] {
    margin: 10px;
}


.filter-form input[type="number"] {
    max-width: 20%;
}

.submit-button {
    background-color: rgb(12, 89, 196);
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 25px;
    min-width: 70%;
    border: none;
    border-radius: 5px;
    outline: none;
}

.submit-button:hover {
    cursor: pointer;
}
